%h1 Listing Stories
-# %table
-#   %thead
-#     %tr
-#       %th Country
-#       %td  
-#       %th State
-#       %td  
-#       %td  
-#   %tbody
-#     - @locations.each do |location|
-#       %tr
-#         %td= location.test_country
-#         %td  
-#         %td= location.test_state
-#         %td  
-#         %td= link_to "X", location, :method => :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
%br/
= link_to 'New Story', new_story_path, class: "btn btn-success", data: { no_turbolink: true }
